html,
body {
  color: white;
}

body {
  margin: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  height: 100vh;
}

.wrap .topbar,
.wrap > .flex,
.wrap .footer {
  width: 100%;
}

.wrap .topbar {
  height: 60px;
  background-color: #141414;
  border-bottom: 2px solid #000;
}

.wrap .sidebar {
  min-width: 200px;
  width: 20%;
  background-color: #141414;
}

.wrap .main {
  flex: 1;
  height: calc(100vh - 130px - 4px);
  background-color: #000;
  overflow-y: auto;
}

.wrap .footer {
  height: 70px;
  background-color: #141414;
  border-top: 2px solid #000;
}

.text-center {
  text-align: center;
}

.container-flex {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.music-card {
  margin-left: 10px;
  padding-left: 10px;
  max-width: 170px;
}

.music-card img {
  width: 100%;
}

@media (max-width: 1280px) {
  .wrap .sidebar {
    width: 15%;
    min-width: 150px;
  }
}

@media (max-width: 600px) {
  .container-flex {
    padding: 20px;
  }

  .wrap .flex {
    flex-direction: column;
  }

  .wrap .sidebar {
    /* display: none; */
    width: 100%;
    min-width: auto;
  }

  .wrap .sidebar.sidebar-open {
    display: block;
  }

  .wrap .music-card {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
